
[submodule "src/sub1"]
	path = src/sub1
	url = https://github.com/SongChangseok/nextjs-study.git
[submodule "src/sub2"]
	path = src/sub2
	url = https://github.com/SongChangseok/udemy-react-study-3.git
